<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="Radix physica"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Dark"
        tools:targetApi="31">
        <activity
            android:name=".AddQuizAndQuestion.ModerateQuizActivity"
            android:exported="false" />
        <activity
            android:name=".AddQuizAndQuestion.AddModeratorActivity"
            android:exported="false" />
        <activity
            android:name=".Manu.ModeratorsActivity"
            android:exported="false" />
        <activity
            android:name=".Games.LeaderboardActivity"
            android:exported="false" />
        <activity
            android:name=".Games.GenerateQuizActivity"
            android:exported="false" />
        <activity
            android:name=".AddQuizAndQuestion.AddQuiz"
            android:exported="false" />
        <activity
            android:name=".Topics.ElectricityActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Topics.OpticsActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Topics.ThermodynamixActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Games.BuildBridgeActivity"
            android:exported="false" />
        <activity
            android:name=".AddQuizAndQuestion.ShowQuestionsActivity"
            android:exported="false" />
        <activity
            android:name=".AddQuizAndQuestion.AddQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".Games.StartTestActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Manu.Settings"
            android:exported="false" />
        <activity
            android:name=".RegAndLog.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".RegAndLog.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Games.GameActivity"
            android:exported="false" />
        <activity
            android:name=".RegAndLog.RegistrationActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Topics.TopicsActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Topics.Chooseing_theory_game_exercises"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Topics.Exercise_example"
            android:exported="false" />
        <activity
            android:name=".Topics.Mexanics_classes"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Manu.Profile"
            android:exported="false" />
        <activity
            android:name=".Manu.physics_lobby"
            android:exported="false" />
        <activity
            android:name=".RegAndLog.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>